RewriteEngine on

RewriteBase /api/download/

RewriteRule ^download-archive-1.html$ download-archive-1.cgi [L]
RewriteRule ^download-sources-1.html$ download-sources-1.cgi [L]
RewriteRule ^download-archive-2.html$ download-archive-2.cgi [L]
RewriteRule ^download-sources-2.html$ download-sources-2.cgi [L]