RewriteEngine on

RewriteBase /apacheds/download/

RewriteRule ^download-archive.html$ download-archive.cgi [L]
RewriteRule ^download-linux-bin.html$ download-linux-bin.cgi [L]
RewriteRule ^download-linux-deb.html$ download-linux-deb.cgi [L]
RewriteRule ^download-linux-rpm.html$ download-linux-rpm.cgi [L]
RewriteRule ^download-macosx.html$ download-macosx.cgi [L]
RewriteRule ^download-sources.html$ download-sources.cgi [L]
RewriteRule ^download-windows.html$ download-windows.cgi [L]