{% extends "apacheds/page.html" %}
    {% block content %}
<h1>Downloads for Archive</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<h2>ZIP Archive</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.zip">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.zip">
                        <strong>
                            [preferred]/&#91;...&#93;/apacheds-{{version}}.zip
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.zip.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.zip.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<h2>TAR.GZ Archive</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.tar.gz">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.tar.gz">
                        <strong>
                            [preferred]/&#91;...&#93;/apacheds-{{version}}.tar.gz
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.tar.gz.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/apacheds/stable/2.0/{{version}}/apacheds-{{version}}.tar.gz.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

<h1>Installation</h1>

<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_archive_1.jpg" width="225" height="130"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Server.<br />Your download appears in the download manager of your web browser.</td>
        </tr>

        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_archive_2.jpg" width="225" height="160"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Extract the downladed archive and place the extracted folder where you want Apache DS to be installed.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    ApacheDS requires at least:
    <ul>
        <li>A recent Linux distribution, Mac OS X (10.4 - Tiger or later), Windows (XP or Vista).</li>
        <li><a href="http://www.java.com/">a Java Runtime Environment</a> 6 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}apacheds-{{version}}.zip{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}