{% extends "apacheds/page.html" %}
    {% block content %}
<h1>Download for Sources</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/apacheds/{{version_apacheds}}/apacheds-parent-{{version_apacheds}}-source-release.zip">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/apacheds/{{version_apacheds}}/apacheds-parent-{{version_apacheds}}-source-release.zip">
                        <strong>
                            [preferred]/&#91;...&#93;/apacheds-parent-{{version_apacheds}}-source-release.zip
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/apacheds/{{version_apacheds}}/apacheds-parent-{{version_apacheds}}-source-release.zip.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/apacheds/{{version_apacheds}}/apacheds-parent-{{version_apacheds}}-source-release.zip.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}apacheds-parent-{{version_apacheds}}-source-release.zip{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}