{% extends "apacheds/page.html" %}
    {% block content %}
<h1>Download for Windows</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/apacheds/dist/{{version_apacheds}}/apacheds-{{version_apacheds}}.exe">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/apacheds/dist/{{version_apacheds}}/apacheds-{{version_apacheds}}.exe">
                        <strong>
                            [preferred]/&#91;...&#93;/apacheds-{{version_apacheds}}.exe
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/apacheds/dist/{{version_apacheds}}/apacheds-{{version_apacheds}}.exe.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/apacheds/dist/{{version_apacheds}}/apacheds-{{version_apacheds}}.exe.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

<h1>Installation</h1>
                    
<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_1.jpg" width="225" height="141"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Server for Windows.<br />Your download appears in the download manager of your web browser.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_2.jpg" width="225" height="146"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Double-click on the installer to open it.<br/>It may have already been opened by your web browser.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_3.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_3.jpg" width="225" height="175"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>You may be prompted to confirm that you are sure you want to open the installer. Answer <em>Run</em> if such a popup is displayed.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_4.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_4.jpg" width="225" height="178"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Follow the instructions of the installer to complete the installation.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    ApacheDS requires at least:
    <ul>
        <li>Windows XP, Vista or 7.</li>
        <li><a href="http://www.java.com/">a Java Runtime Environment</a> 6 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}apacheds-{{version_apacheds}}.exe{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}