<h5>Support</h5>
<ul>
    <li><a href="/mailing-lists-and-irc.html">Mailing Lists &amp; IRC</a></li>
    <li><a href="/sources.html">Sources</a></li>
    <li><a href="/issue-tracking.html">Issue Tracking</a></li>
    <li><a href="/commercial-support.html">Commercial Support</a></li>
</ul>

<h5>Community</h5>
<ul>
    <li><a href="/contribute.html">How to Contribute</a></li>
    <li><a href="/team.html">Team</a></li>
    <li><a href="/original-project-proposal.html">Original Project Proposal</a></li>
    <li><a href="/special-thanks.html" class="external-link" rel="nofollow">Special Thanks</a></li>
</ul>

<h5>About Apache</h5>
<ul>
    <li><a href="https://www.apache.org/">Apache</a></li>
    <li><a href="https://www.apache.org/licenses/">License</a></li>
    <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
    <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
    <li><a href="https://www.apache.org/security/">Security</a></li>
</ul>
