{{ $project_id := .id }}
{{ $downloads_url := printf "%s/downloads.html" $project_id }}
{{ if .url }}
    {{ $downloads_url = .url }}
{{ end }}
{{ $logoClass := printf "%s-logo" $project_id }}
{{ $download_text := "Download Apache" }}
{{ if .download_text }}
    {{ $download_text = .download_text }}
{{ end }}
<div class="download-button">
    <a href="/{{ $downloads_url }}" class="download-button">
        <div class="download-button-inside">
            <div class="{{ .id }}-logo download-logo">
                {{ partial "tree-logo.html" (dict "style" $logoClass ) }}
            </div>
            <div class="download-package-icon"></div>
            <div class="download-button-text">
                {{ $download_text }}<br>
                {{ .name }} {{ .version }}
            </div>
        </div>
        <div class="button-bottom-text">Free for Linux, macOS, & Windows</div>
    </a>
</div>
