<div id="header">
    <span>Apache Directory</span>
    <a href="/"><div id="headerClick"></div></a>
    <div id="subProjectsNavBar">
        <a href="/">
            {{ if eq .project "home" }}
                <strong>Main</strong>
            {{ else }} 
                Main
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/apacheds/">
            {{ if eq .project "apacheds" }}
                <strong>ApacheDS</strong>
            {{ else }} 
                ApacheDS
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/studio/">
            {{ if eq .project "studio" }}
                <strong>Studio</strong>
            {{ else }} 
                Studio
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/api/">
            {{ if eq .project "api" }}
                <strong>LDAP API</strong>
            {{ else }} 
                LDAP API
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/mavibot/">
            {{ if eq .project "mavibot" }}
                <strong>Mavibot</strong>
            {{ else }} 
                Mavibot
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/scimple/">
            {{ if eq .project "scimple" }}
                <strong>SCIMple</strong>
            {{ else }} 
                SCIMple
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/fortress/">
            {{ if eq .project "fortress" }}
                <strong>Fortress</strong>
            {{ else }} 
                Fortress
            {{ end }}
        </a>
        &nbsp;|&nbsp;
        <a href="/kerby/">
            {{ if eq .project "kerby" }}
                <strong>Kerby</strong>
            {{ else }} 
                Kerby
            {{ end }}
        </a>
    </div><!-- subProjectsNavBar -->
</div><!-- header -->
