{% extends "kerby/page.html" %}

{% block content %}

  {% block hero %}
    <div class="hero clearfix">
      <div class="left">
        <h1>Apache Kerby&trade;</h1>
        <h2>The Apache Kerberos Server</h2>
      </div>
      <div class="right">
        <img src="../images/kerby_logo.png" width="125" height="125" border="0"/>
      </div>
    </div>
  {% endblock %}

  {% block description %}
    <div class="description">
      Apache Kerby is a Java Kerberos binding. It provides a rich, intuitive and interoperable implementation, library, KDC and various facilities that integrates PKI, OTP and token (OAuth2) as desired in modern environments such as cloud, Hadoop and mobile.<br/>
    </div>
    <div class="download-link">
      <a href="{{base}}kerby/downloads.html" class="download_badge"><b>Download Apache<br>Kerby {{version_kerby}}</b></a>
    </div>
  {% endblock %}

  {% block news %}
    <div class="news">{% filter markdown %}{% include "../content/kerby/news.mdtext" %}{% endfilter %}</div>
  {% endblock %}

{% endblock %}
