{% extends "studio/page.html" %}
    {% block content %}
<h1>Downloads for Mac OS X</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<h2>Mac OS X 64 bit</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.tar.gz">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.tar.gz">
                        <strong>
                            [preferred]&#91;...&#93;/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.tar.gz
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.tar.gz.asc">ASC</a>]
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.tar.gz.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

<h1>Installation</h1>
                    
<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_macosx_1.png" width="210" height="41"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Studio for Mac OS X.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_macosx_2.png" width="370" height="147"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>The download appeares in the Downloads folder in Finder. Double-click on the downloaded archive to extract it.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_3.gif" width="64" height="64"/></td>
            <td><img src="images/installation_macosx_3.png" width="374" height="150"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Drag-and-drop the <em>Apache Directory Studio</em> application on the <em>Applications</em> folder to install it.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    Apache Directory Studio requires at least:
    <ul>
        <li>Mac OS X version 10.5 (Leopard) or later.</li>
        <li><a href="http://www.java.com/">a Java Runtime Environment</a> 7 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.tar.gz{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}