{% extends "studio/page.html" %}
    {% block content %}
<h1>Downloads for Windows</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<h2>Windows 64 bit installer</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.exe">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.exe">
                        <strong>
                            [preferred]&#91;...&#93;/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.exe
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.exe.asc">ASC</a>]
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.exe.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<h2>Windows 64 bit zip archive</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.zip">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.zip">
                        <strong>
                            [preferred]&#91;...&#93;/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.zip
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.zip.asc">ASC</a>]
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.zip.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<h2>Windows 32 bit installer</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.exe">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.exe">
                        <strong>
                            [preferred]&#91;...&#93;/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.exe
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.exe.asc">ASC</a>]
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.exe.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<h2>Windows 32 bit zip archive</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.zip">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.zip">
                        <strong>
                            [preferred]&#91;...&#93;/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.zip
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.zip.asc">ASC</a>]
                    [<a href="https://www.apache.org/dist/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86.zip.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

<h1>Installation</h1>
                    
<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_1.jpg" width="225" height="141"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Studio for Windows.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_2.jpg" width="225" height="150"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Double-click on the installer to open it.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_3.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_3.jpg" width="225" height="180"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>You may be prompted to confirm that you are sure you want to open the installer. Answer <em>Run</em> if such a popup is displayed.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_4.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_4.jpg" width="225" height="176"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Follow the instructions of the installer to complete the installation.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    Apache Directory Studio requires at least:
    <ul>
        <li>Windows XP, Vista, 7, 8.</li>
        <li><a href="http://www.java.com/">a Java Runtime Environment</a>7 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}ApacheDirectoryStudio-{{version_studio}}-win32.win32.x86_64.exe{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}
