{% extends "studio/page.html" %}
    {% block content %}
<h1>Downloads for Mac OS X</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<h2>Mac OS X 64 bit</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg">
                        <strong>
                            [preferred]&#91;...&#93;/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="https://downloads.apache.org/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg.asc">ASC</a>]
                    [<a href="https://downloads.apache.org/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg.sha256">SHA256</a>]
                    [<a href="https://downloads.apache.org/directory/studio/{{version_studio}}/ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg.sha512">SHA512</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

<h1>Installation</h1>
                    
<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_macosx_1.jpg" width="225" height="120"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Studio for Mac OS X.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_macosx_2.jpg" width="225" height="161"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>The download appeares in the Downloads folder in Finder. Double-click on the disk image to open it.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_3.gif" width="64" height="64"/></td>
            <td><img src="images/installation_macosx_3.jpg" width="225" height="207"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Drag-and-drop the <em>Apache Directory Studio</em> application on the <em>Applications</em> folder to install it.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    Apache Directory Studio requires at least:
    <ul>
        <li>Mac OS X version 10.10 (Yosemite) or later.</li>
        <li><a href="http://jdk.java.net/">Java Development Kit</a> 8 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}ApacheDirectoryStudio-{{version_studio}}-macosx.cocoa.x86_64.dmg{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}
