{% extends "studio/page.html" %}
    {% block content %}
<h1>Downloads for Linux</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<p>
    <div class="note" markdown="1">
        <p>
            On the latest Ubuntu distributions, you may experiment some crash when starting Studio.
        </p>
        <p>
            This is bug with the OXYGEN theme. You can get it fixed by using another theme :<br/>
        </p>
        <pre>
            $ GTK2_RC_FILES=/usr/share/themes/Raleigh/gtk-2.0/gtkrc ./ApacheDirectoryStudio
        </pre>
        <p>
            Also see https://issues.apache.org/jira/browse/DIRSTUDIO-962 for more information
        </p>
    </div>
</p>

<h2>Linux 64 bit</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86_64-{{version_studio}}.tar.gz">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86_64-{{version_studio}}.tar.gz">
                        <strong>
                            [preferred]/&#91;...&#93;/ApacheDirectoryStudio-linux-x86_64-{{version_studio}}.tar.gz
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86_64-{{version_studio}}.tar.gz.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86_64-{{version_studio}}.tar.gz.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<h2>Linux 32 bit</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86-{{version_studio}}.tar.gz">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86-{{version_studio}}.tar.gz">
                        <strong>
                            [preferred]/&#91;...&#93;/ApacheDirectoryStudio-linux-x86-{{version_studio}}.tar.gz
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86-{{version_studio}}.tar.gz.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/studio/dist/{{version_studio}}/ApacheDirectoryStudio-linux-x86-{{version_studio}}.tar.gz.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

<h1>Installation</h1>
                    
<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_linux_1.jpg" width="225" height="141"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Studio for your Linux architecture.<br />Your download appears in the download manager of your web browser.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_linux_2.jpg" width="225" height="150"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Extract the downladed archive and place the extracted folder where you want Apache Directory Studio to be installed.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    Apache Directory Studio requires at least:
    <ul>
        <li>a recent Linux distribution. It has been tested successfully on Ubuntu.</li>
        <li><a href="http://www.java.com/">Java Runtime Environment</a> 6 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}ApacheDirectoryStudio-linux-x86_64-{{version_studio}}.tar.gz{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}