{% extends "studio/page.html" %}
    {% block content %}
<h1>Download for Windows</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/studio/stable/{{version}}/ApacheDirectoryStudio-win32-{{version}}.exe">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/studio/stable/{{version}}/ApacheDirectoryStudio-win32-{{version}}.exe">
                        <strong>
                            [preferred]/&#91;...&#93;/ApacheDirectoryStudio-win32-{{version}}.exe
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/studio/stable/{{version}}/ApacheDirectoryStudio-win32-{{version}}.exe.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/studio/stable/{{version}}/ApacheDirectoryStudio-win32-{{version}}.exe.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>
    <form action="[location]" method="get" id="SelectMirror">
        Other mirrors:
        <select name="Preferred">
            [if-any http]
            <optgroup label="HTTP mirrors">
                [for http]<option value="[http]">[http]</option>[end]
            </potgroup>
            [end]
            [if-any ftp]
            <optgroup label="FTP mirrors">
                [for ftp]<option value="[ftp]">[ftp]</option>[end]
            </potgroup>
            [end]
            [if-any backup]
            <optgroup label="Backup mirrors">
                [for backup]<option value="[backup]">[backup] (backup)</option>[end]
            </potgroup>
            [end]
        </select>
        <input type="submit" value="Change Mirror"/>
    </form>
</p>

<p>
    <div class="noteMacro" align="center" border="0" cellpadding="5" cellspacing="8" width="85%">
        We encourage you to <a href="#verifyIntegrity">verify the integrity</a> of the downloaded file using:
        <ul>
            <li>the ASC file (OpenPGP compatible signature) with the <a href="http://www.apache.org/dist/directory/KEYS">KEYS file</a> (code signing keys used to sign the product)</li>
            <li>the MD5 file (checksum).</li>
        </ul>
    </div>
</p>

<p>&nbsp;</p>

<h1>Installation</h1>
                    
<p>
    <table class="noBorder">
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_1.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_1.jpg" width="225" height="141"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Click on the link above to download Apache Directory Studio for Windows.<br />Your download appears in the download manager of your web browser.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_2.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_2.jpg" width="225" height="150"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Double-click on the installer to open it.<br/>It may have already been opened by your web browser.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_3.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_3.jpg" width="225" height="180"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>You may be prompted to confirm that you are sure you want to open the installer. Answer <em>Run</em> if such a popup is displayed.</td>
        </tr>
        <tr>
            <td width="64" height="64"><img src="{{base}}images/figure_4.gif" width="64" height="64"/></td>
            <td><img src="images/installation_windows_4.jpg" width="225" height="176"/></td>
            <td>&nbsp;&nbsp;</td>
            <td>Follow the instructions of the installer to complete the installation.</td>
        </tr>
    </table>
</p>

<p>&nbsp;</p>

<h1>Requirements</h1>

<p>
    Apache Directory Studio for Windows requires at least:
    <ul>
	    <li>Windows XP, Vista or 7.</li>
	    <li><span class="nobr"><a href="http://www.java.com/">a 32-bit Java Runtime Environment</a></span> 5 or later.</li>
    </ul>
</p>

<p>&nbsp;</p>

<h1>Verify the integrity of the file</h1>
                    
<p>The PGP signatures can be verified using PGP or GPG. First download the <a href="http://www.apache.org/dist/directory/KEYS">KEYS</a> as well as the <em>asc</em> signature file for the relevant distribution. Then verify the signatures using:</p>

<div class="preformatted">
    <div class="preformattedContent">
        <pre>$ pgpk -a KEYS
$ pgpv ApacheDirectoryStudio-win32-{{version}}.exe.asc</pre>
    </div>
</div>
or
<div class="preformatted">
    <div class="preformattedContent">
        <pre>$ pgp -ka KEYS
$ pgp ApacheDirectoryStudio-win32-{{version}}.exe.asc</pre>
    </div>
</div>
or
<div class="preformatted">
    <div class="preformattedContent">
        <pre>$ gpg --import KEYS
$ gpg --verify ApacheDirectoryStudio-win32-{{version}}.exe.asc</pre>
    </div>
</div>

<p>&nbsp;</p>

<p>Alternatively, you can verify the MD5 signature on the files. A unix program called <em>md5</em> or <em>md5sum</em> is included in many unix distributions. It is also available as part of <a href="http://www.gnu.org/software/textutils/textutils.html">GNU Textutils</a>. Windows users can get binary md5 programs from <a href="http://www.fourmilab.ch/md5/">here</a>, <a href="http://www.pc-tools.net/win32/freeware/console/">here</a>, or <a href="http://www.slavasoft.com/fsum/">here</a>.</p>

<p>&nbsp;</p>
    {% endblock %}
{% endextends %}