{% extends "header.html" %}
    {% block css %}
        <link href="{{base}}css/common.css" rel="stylesheet" type="text/css">
        <link href="{{base}}css/blue.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block favicon %}
        <link rel="shortcut icon" href="{{base}}images/studio-icon_16x16.png">
    {% endblock %}

    {% block project-navigation %}
        <h5>Apache Directory Studio</h5>
        <ul>
            <li><a href="{{base}}studio/">Home</a></li>
            <li><a href="{{base}}studio/news.html">News</a></li>
            <li><a href="{{base}}studio/screenshots.html">Screenshots</a></li>
        </ul>
        <h5>Downloads</h5>
        <ul>
            <li><a href="{{base}}studio/downloads.html">Version {{version_studio_name}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li>
            <li><a href="{{base}}studio/nightly-builds.html">Nightly Builds</a></li>
            <li><a href="{{base}}studio/download-old-versions.html">Older Versions</a></li>
        </ul>
        <h5>Documentation</h5>
        <ul>
            <li><a href="{{base}}studio/users-guide.html">User's Guide</a></li>
            <li><a href="{{base}}studio/developers-guide.html">Developer's Guide</a></li>
            <li><a href="{{base}}studio/faqs.html">FAQs</a></li>
        </ul>
        <h5>Resources</h5>
        <ul>
            <li><a href="{{base}}studio/issue-tracking.html">Issue Tracking</a></li>
            <li><a href="{{base}}studio/changelog.html">ChangeLog</a></li>
            <li><a href="{{base}}studio/mailing-lists.html" >Mailing Lists</a></li>
            <li><a href="{{base}}studio/testimonials.html">Testimonials</a></li>
        </ul>
    {% endblock %}
{% endextends %}

{% if headers.navprev or headers.navup or headers.navnext %}
    <div class="nav">
        <div class="nav_prev">
        {% if headers.navprev %}
            <a href="{{ headers.navprev }}">{{ headers.navprevtext }}</a>
		{% else %}
			&nbsp;
        {% endif %}
        </div>
        <div class="nav_up">
        {% if headers.navup %}
            <a href="{{ headers.navup }}">{{ headers.navuptext }}</a>
		{% else %}
			&nbsp;
        {% endif %}
        </div>
        <div class="nav_next">
        {% if headers.navnext %}
            <a href="{{ headers.navnext }}">{{ headers.navnexttext }}</a>
		{% else %}
			&nbsp;
        {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endif %}

{% block content %}{{ content|markdown }}{% endblock %}

{% if headers.navprev or headers.navup or headers.navnext %}
    <div class="nav">
        <div class="nav_prev">
        {% if headers.navprev %}
            <a href="{{ headers.navprev }}">{{ headers.navprevtext }}</a>
		{% else %}
			&nbsp;
        {% endif %}
        </div>
        <div class="nav_up">
        {% if headers.navup %}
            <a href="{{ headers.navup }}">{{ headers.navuptext }}</a>
		{% else %}
			&nbsp;
        {% endif %}
        </div>
        <div class="nav_next">
        {% if headers.navnext %}
            <a href="{{ headers.navnext }}">{{ headers.navnexttext }}</a>
		{% else %}
			&nbsp;
        {% endif %}
        </div>
        <div class="clearfix"></div>
    </div>
{% endif %}

{% include "footer.html" %}