RewriteEngine on

RewriteBase /studio/download/

RewriteRule ^download-linux.html$ download.cgi [L]
RewriteRule ^download-macosx.html$ download.cgi [L]
RewriteRule ^download-sources.html$ download.cgi [L]
RewriteRule ^download-windows.html$ download.cgi [L]