RewriteEngine on

RewriteBase /studio/download/

RewriteRule ^download-linux.html$ download-linux.cgi [L]
RewriteRule ^download-macosx.html$ download-macosx.cgi [L]
RewriteRule ^download-sources.html$ download-sources.cgi [L]
RewriteRule ^download-windows.html$ download-windows.cgi [L]