<h1><a name="verifyIntegrity"></a>Verify the integrity of the file</h1>
                    
<p>The PGP signatures can be verified using PGP or GPG. First download the <a href="https://www.apache.org/dist/directory/KEYS">KEYS</a> as well as the <em>asc</em> signature file for the relevant distribution. Then verify the signatures using:</p>

<div class="preformatted">
    <div class="preformattedContent">
        <pre>$ pgpk -a KEYS
$ pgpv {% block filename %}{% endblock %}.asc</pre>
    </div>
</div>
or
<div class="preformatted">
    <div class="preformattedContent">
        <pre>$ pgp -ka KEYS
$ pgp {% block filename %}{% endblock %}.asc</pre>
    </div>
</div>
or
<div class="preformatted">
    <div class="preformattedContent">
        <pre>$ gpg --import KEYS
$ gpg --verify {% block filename %}{% endblock %}.asc</pre>
    </div>
</div>

<p>&nbsp;</p>

<p>Alternatively, you can verify the MD5 signature on the files. A unix program called <em>md5</em> or <em>md5sum</em> is included in many unix distributions. It is also available as part of <a href="http://www.gnu.org/software/textutils/textutils.html">GNU Textutils</a>. Windows users can get binary md5 programs from <a href="http://www.fourmilab.ch/md5/">here</a>, <a href="http://www.pc-tools.net/win32/freeware/console/">here</a>, or <a href="http://www.slavasoft.com/fsum/">here</a>.</p>

<p>&nbsp;</p>
