                </div><!-- rightColumn -->
                <div id="endContent"></div>
            </div><!-- content -->
            <div id="footer">&copy; 2003-2012, <a href="http://www.apache.org">The Apache Software Foundation</a> - <a href="{{base}}privacy-policy.html">Privacy Policy</a><br />
                Apache Directory, ApacheDS, Apache Directory Server, Apache Directory Studio, Apache LDAP API, Apache Triplesec, Triplesec, Apache Mavibot, Mavibot, Apache, the Apache feather logo, and the Apache Directory project logos are trademarks of The Apache Software Foundation.
            </div>
        </div><!-- container -->
    </body>
</html>