<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<html>
	<head>
		<title>{% block title %}{{ headers.title }}{% endblock %} &mdash; Apache Directory</title>
		{% block css %}
		<link href="{{base}}css/common.css" rel="stylesheet" type="text/css">
		<link href="{{base}}css/green.css" rel="stylesheet" type="text/css">
		{% endblock %}
        {% block favicon %}
        <link rel="shortcut icon" href="{{base}}images/server-icon_16x16.png">
        {% endblock %}
        <!-- Google Analytics -->
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
        <script type="text/javascript">
            _uacct = "UA-1358462-1";
            urchinTracker();
        </script>
	</head>
	<body>
	    <div id="container">
            <div id="header">
                <div id="subProjectsNavBar">
                    <a href="{{base}}">
                        {% if isDirSite %}
                        <STRONG>Apache Directory Project</STRONG>
                        {% else %}
                        Apache Directory Project
                        {% endif %}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{base}}apacheds">
                        {% if isDirApacheDS %}
                        <STRONG>ApacheDS</STRONG>
                        {% else %}
                        ApacheDS
                        {% endif %}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{base}}studio">
                        {% if isDirStudio %}
                        <STRONG>Apache Directory Studio</STRONG>
                        {% else %}
                        Apache Directory Studio
                        {% endif %}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{base}}api">
                        {% if isDirAPI %}
                        <STRONG>Apache LDAP API</STRONG>
                        {% else %}
                        Apache LDAP API
                        {% endif %}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{base}}mavibot">
                        {% if isDirMVBT %}
                        <STRONG>Mavibot</STRONG>
                        {% else %}
                        Mavibot
                        {% endif %}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{base}}escimo">
                        {% if isDirEscimo %}
                        <STRONG>eSCIMo</STRONG>
                        {% else %}
                        eSCIMo
                        {% endif %}
                    </a>
                </div><!-- subProjectsNavBar -->
            </div><!-- header -->
            <div id="content">
                <div id="leftColumn">
                    {% include "navigation.html" %}
                </div><!-- leftColumn -->
                <div id="rightColumn">