{% block navigation %}
<div id="navigation">
    {% block project-navigation %}
    <h5>Latest News</h5>
    <ul>
        <li><a href="{{base}}apacheds/news.html">ApacheDS</a></li>
        <li><a href="{{base}}studio/news.html">Apache Directory Studio</a></li>
        <li><a href="{{base}}api/news.html">Apache LDAP API</a></li>
        <li><a href="{{base}}mavibot/news.html">Apache Mavibot</a></li>
        <li><a href="{{base}}escimo/news.html">Apache eSCIMo</a></li>
        <!--li><a href="{{base}}fortress/news.html">Apache Fortress</a></li-->
    </ul>
    <h5>Latest Downloads</h5>
    <ul>
        <li><a href="{{base}}apacheds/downloads.html">ApacheDS {{version_apacheds}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li>
        <li><a href="{{base}}studio/downloads.html">Studio {{version_studio_name}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li>
        <li><a href="{{base}}api/downloads.html">LDAP API {{version_api}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li>
        <li><a href="{{base}}mavibot/downloads.html">Mavibot {{version_mavibot}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li>
        <!--li><a href="{{base}}fortress/downloads.html">Fortress {{version_fortress}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li-->
        <!-- <li><a href="{{base}}escimo/downloads.html">Mavibot {{version_escimo}}</a>&nbsp;&nbsp;<IMG src="{{base}}images/new_badge.gif" alt="" style="margin-bottom:-3px;" border="0"></li> -->
    </ul>
    <h5>Sub-Projects</h5>
    <ul>
        <li><a href="{{base}}apacheds/">ApacheDS</a></li>
        <li><a href="{{base}}studio/">Apache Directory Studio</a></li>
        <li><a href="{{base}}api/">Apache LDAP API</a></li>
        <li><a href="{{base}}mavibot/">Apache Mavibot</a></li>
        <li><a href="{{base}}escimo/">Apache eSCIMo</a></li>
        <!--li><a href="{{base}}fortress/">Apache Fortress</a></li-->
    </ul>
    <!--h5>Sandbox</h5>
    <ul>
        <li><a href="{{base}}triplesec/">Triplesec</a></li>
    </ul-->
    <h5>Resources</h5>
    <ul>
        <li><a href="{{base}}references.html">References</a></li>
        <li><a href="{{base}}articles.html">Articles</a></li>
        <li><a href="{{base}}conference-materials.html">Conferences</a></li>
        <li><a href="{{base}}testimonies.html">Testimonials</a></li>
        <li><a href="{{base}}vision.html">Vision</a></li>
        <!--li><a href="{{base}}interopability.html">Interropability</a></li-->
    </ul>
    {% endblock %}
    {% block common-navigation %}
    <h5>Support</h5>
    <ul>
        <li><a href="{{base}}mailing-lists-and-irc.html">Mailing Lists &amp; IRC</a></li>
        <li><a href="{{base}}sources.html">Sources</a></li>
        <li><a href="{{base}}issue-tracking.html">Issue Tracking</a></li>
        <li><a href="{{base}}commercial-support.html">Commercial Support</a></li>
    </ul>
    <h5>Community</h5>
    <ul>
        <li><a href="{{base}}contribute.html">How to Contribute</a></li>
        <li><a href="{{base}}team.html">Team</a></li>
        <li><a href="{{base}}original-project-proposal.html">Original Project Proposal</a></li>
        <li><a href="{{base}}special-thanks.html" class="external-link" rel="nofollow">Special Thanks</a></li>
    </ul>
    <h5>About Apache</h5>
    <ul>
        <li><a href="http://www.apache.org/">Apache</a></li>
        <li><a href="http://www.apache.org/licenses/">License</a></li>
        <li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
        <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
        <li><a href="http://www.apache.org/security/">Security</a></li>
    </ul>
    <a href="http://bit.ly/1n9YlQT" target="_blank">
      <img src="ApacheConBudapest.png" width="125" height="125" alt="I'm Speaking at ApacheCon Europe 2014! Join me!" title="I'm Speaking at ApacheCon Europe 2014! Join me!" border="0">
    </a>
    {% endblock %}
</div><!-- navigation -->
{% endblock %}