{% extends "fortress/page.html" %}

{% block content %}
  {% block hero %}
    <div class="hero clearfix">
      <div class="top">
        <h1>Apache Fortress&trade;</h1>
        <h2>Access Management SDK and Web Components</h2>
        <div class="description">
          Apache Fortress&trade; is a standards-based access management system, written in Java and supports ANSI INCITS 359 RBAC and more. 

        </div>
      </div>
        <!--div class="download-link">
          <a href="{{base}}fortress/downloads.html" class="download_badge"><b>Download Apache<br>Fortress {{version_fortress}}</b></a>
        </div-->
      <div class="bottom">
        <img src="../images/fortress-web-system-arch.png" style="width: 75%; height: 75%" border="0"/>
      </div>
    </div>
  {% endblock %}

  {% block news %}
    <div class="news">{% filter markdown %}{% include "../content/fortress/news.mdtext" %}{% endfilter %}</div>
  {% endblock %}
{% endblock %}
