{% extends "fortress/page.html" %}

{% block content %}
  {% block hero %}
    <div class="hero clearfix">
      <div class="left">
        <h1>Apache Fortress&trade;</h1>
        <h2>OSS IAM Java SDK</h2>
        <div class="description">
          Apache Fortress&trade;, or simply <em>Fortress</em>, is a standards based and Open Source Identity Access Management Java SDK for LDAP v3 compliant systems. Fortress is 100% compliant with RBAC, ARBAC02 and IETF's password policy draft
        </div>
        <!--div class="download-link">
          <a href="{{base}}fortress/downloads.html" class="download_badge"><b>Download Apache<br>Fortress {{version_fortress}}</b></a>
        </div-->
      <div class="right">
        <img src="../images/Fortress-IAMServer-v2.png" width="377" height="287" border="0"/>
      </div>
    </div>
  {% endblock %}

  {% block news %}
    <div class="news">{% filter markdown %}{% include "../content/fortress/news.mdtext" %}{% endfilter %}</div>
  {% endblock %}
{% endblock %}
