{% extends "mavibot/page.html" %}
    {% block content %}
<h1>Downloads for Archive</h1>

<p>
    [if-any logo]
    <a href="[link]"><img align="right" src="[logo]" border="0" /></a>
    [end]
    We suggest the following mirror site for your download:
</p>

<h2>ZIP Archive</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.zip">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.zip">
                        <strong>
                            [preferred]/&#91;...&#93;/apache-mavibot-{{version_mavibot}}.zip
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.zip.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.zip.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<h2>TAR.GZ Archive</h2>

<p>
    <div class="download">
        <table width="100%" class="noBorder">
            <tr>
                <td>
                    <a href="[preferred]/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.tar.gz">
                        <img src="{{base}}images/download.png" width="32" height="32" border="0"/>
                    </a>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="[preferred]/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.tar.gz">
                        <strong>
                            [preferred]/&#91;...&#93;/apache-mavibot-{{version_mavibot}}.tar.gz
                        </strong>
                    </a>
                </td>
                <td align="right">
                    [<a href="http://archive.apache.org/dist/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.tar.gz.asc">ASC</a>-<a href="http://archive.apache.org/dist/directory/mavibot/dist/{{version_mavibot}}/apache-mavibot-{{version_mavibot}}.tar.gz.md5">MD5</a>]
                </td>
            </tr>
        </table>
    </div>
</p>

<p>&nbsp;</p>

{% include "download-change-mirror.html" %}

<p>&nbsp;</p>

    {% extends "download-verify-file-integrity.html" %}
        {% block filename %}apache-mavibot-{{version_mavibot}}.zip{% endblock %}
    {% endextends %}
    {% endblock %}
{% endextends %}
