Options +FollowSymLinks
RewriteEngine On

# Redirect to the latest release
RewriteRule ^latest$ https://nightlies.apache.org/directory/fortress/2.0.8/ [QSA,L]
RewriteRule ^latest/(.*)$ https://nightlies.apache.org/directory/fortress/2.0.8/$1 [QSA,L]

# Redirect everything else
RewriteRule ^(.*)$ https://nightlies.apache.org/directory/fortress/$1 [QSA,L]

